extends home 

block navHeader 
    include _navHeader

block mainPage
    main 
        .login-container
            .login-account-container
                h2.login-secondary-heading Reset your password
                form.newPassForm
                    .signup--form-section
                        label.title-form(for="password") Enter new Password
                        input.input-form(type="password", id="password", placeholder="•••••••••", pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", title="Password must contain at-least 8 characters, one number, one uppercase letter and a lowercase letter", required)
                    .signup--form-section.form-section--space
                        label.title-form(for="confirm-password") Confirm Password 
                        input.input-form(type="password", id="confirm-password", placeholder="•••••••••", minlength="8", pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", title="Password must contain at-least 8 characters, one number, one uppercase letter and a lowercase letter", required)

                    .form-section.form-btns.forgot-pass--btn(data-token=token)
                        button.button.button--md.button--blue Continue
                        // <button class="button button--md button--blue">Signup</button>
