extends homeEmail

block content
    p Hi #{firstName},
    p Forgot your password? Submit your new password using the button or link below (You will need to re-enter your password for confirmation purposes): 
    a #{url}
    p (The action for the button and link will redirect you to the webpage for resetting the password)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset your password
    p If you didn't request for a password change, please ignore this email!